fieldset {
    height: 100%;
    width: 100%;
    border: 3px solid var(--race-color);
    box-shadow: 0px 0px 30px var(--race-color) inset;
    background-color: rgba(var(--race-color-d),0.7);
    
    position: relative;
    overflow: scroll;
    text-align: left;
}
legend {
    margin: auto;
    padding: 0px 10px 0px 10px;
}
table {
    position: absolute;
    font-size: 1.2em;
}
td {
    padding: 0px 10px 0px 10px;
    height: 1.5em;
}