<fieldset>
    <legend><h1>Stats</h1></legend>
    <table>
        <tr><td>Hp:</td><td>{{char.hp}}</td></tr>
        <tr><td>Attack:</td><td>{{char.attack}}</td></tr>
        <tr><td>Armor:</td><td>{{char.armor}}</td></tr>
        <tr><td>Strength:</td><td>{{char.strength}}</td></tr>
        <tr><td>Accuracy:</td><td>{{char.accuracy}}</td></tr>
        <tr><td>Crit. Chance:</td><td>{{char.criticalhitchance}}</td></tr>
        <tr><td>Agility:</td><td>{{char.agility}}</td></tr>
        <tr><td>Money:</td><td>{{char.money}}</td></tr>
    </table>
</fieldset>