#char-picker{
    display: none;
    height: 90vh;
    width: 70vw;
    margin-top: 5vh;
    background-color: rgba(0, 0, 0,0.8);
    animation: appear 3s 1 ease-out;
    text-align: center;
    transition: 1s;
    opacity: 1;
    overflow: hidden;
    color: white;
}
.char-choice{
    background-color: black;
    height: 88%;
    width: 31%;
    margin: 0px 5px 0px 5px;
    display: inline-grid;
    transition: 0.6s;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    will-change: filter;
    filter: brightness(50%);
    box-shadow: 0px 0px 0px black;
    text-shadow: 0px 0px 30px black;
}
.char-choice:hover{
    filter: none;
    z-index: 1;
}
.char-description{
    background-color: black;
    width: 50vw;
    height: 100%;
    transition: 2s;
    position: absolute;
    bottom: 0px;
    will-change: bottom;
    padding: 20px 10vh 0px 50px;
    left: 100%;
    text-align: left;
    display: none;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: inherit;
}
.char-focus{
    filter: none;
    float: left;
    margin-top: 20px;
    height: 95%;
    cursor: auto;
}
.char-description h2{
    font-family: 'Kanit', Impact;
    margin-bottom: 20px;
}
#greenqueen{
    background-image: url(../images/vengeance_mc.jpg);
    border-color: rgb(200,255,0);
}
#greenqueen:hover h1, #greenqueen h2{
    color: rgb(200,255,0);
}
#distroyerx{
    background-image: url(../images/long_ouyang_02.jpg);
    border-color: rgb(0,200,255);
}
#distroyerx:hover h1, #distroyerx h2{
    color: rgb(0,200,255);
}
#rot{
    background-image: url(../images/monster_art2_by_ang_angg-d84jjva.jpg);
    border-color: rgb(255,200,0);
}
#rot:hover h1, #rot h2{
    color: rgb(255,200,0);
}


#create_new_char{
    display: none;
}
.dialog{
    padding-top: 50px;
    padding-bottom: 40px;
    font-size: 1.3em;
}
.show-dialog{
    display: block;
    animation: appear 2s 1 ease-out;
    background-color: rgba(0, 0, 0,0.85);
    color: white;
    padding: 35px 60px 40px 60px;
    width: 50vw;
    margin-bottom: 50px;
    transition: 0.5s;
    transition-timing-function: ease-out;
    line-height: 1.3em;
    position: sticky;
}
.hide-dialog{
    display: none;
}
h1{
    font-family: 'Kanit';
    margin-bottom: 20px;
}
.narrator-bubble{
    border: 3px solid rgb(150,0,0);
    background-color: rgba(150,0,0,0.6);
    border-left: none;
    color: rgb(255,200,200);
}
.you-bubble{
    left: 50vw;
    border: 3px solid;
    border-right: none;
}
.dialog label{
    margin-left: 25px;
}
.dialog-input{
    font-size: 1em;
    background-color: rgb(50,50,50);
    color: white;
    text-align: center;
    padding: 5px;
    border: none;
    margin-bottom: 5px;
}
button{
    transition: 0.2s;
    font-size: 1em;
    border: 2px solid white;
    margin: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
}
button:hover{
    border-radius: 5px;
}
button:active{
    border-radius: 10px;
}
.char-description button{
    background-color: rgba(255,255,255,0.5);
}
.dialog-btn{
    background-color: transparent;
    margin-left: 10px;
}
.dialog-btn:hover{
    background-color: rgba(200,200,200,0.4);
}
.dialog-btn:active{
    background-color: rgba(250,250,250,0.6);
}
#dialog-story-btn{
    border-color: rgb(180,0,0);
    background-color: rgba(50,0,0,0.5);
    position: fixed;
    top: 92vh;
    left: 45vw;
    width: 10vw;
    color: rgb(180,0,0);
    animation: appear 4s 1 ease-out;
}
#dialog-story-btn:hover{
    background-color: rgba(100,0,0,0.6);
    color: rgb(200,50,50);
}
#dialog-story-btn:active{
    background-color: rgba(150,0,0,0.8);
    color: rgb(255,100,100);
}

@keyframes stroke {
    0% {
        stroke-dasharray: 0, 1000;
        fill: rgba(0,0,0,0);
    }
    25%{
        opacity: 1;
    }
    60%{
        stroke-dasharray: 1100, 1000;
        fill: rgba(0,0,0,0);
        stroke-width: 1;
    }
    70% {
        fill: rgb(150, 0, 0);
        stroke-width: 0;
    }
    100% {
        stroke-width: 0;
        opacity: 0;
    }
}
@keyframes fadeout {
    0%{
        background-color: black;
    }
    50%{
        background-color: rgba(0, 0, 0, 0.8);
    }
    70%{
        background-color: rgba(0, 0, 0, 0.6);
    }
    100%{
        background-color: rgba(0,0,0,0);
    }
}
@keyframes appear {
    0%{
        margin-top: 100vh;
    }
}
@keyframes quickStoryTxt {
    0%{
        top: 30vh;
    }
    50%{
        opacity: 1;
    }
    100%{
        top: 10vh;
    }
}