<div>
    <ul>
        <li id="account">A<span>ccount</span></li>
        <li routerLink="/base/dashboard">D<span>ashboard</span></li>
        <li routerLink="/base/char-details">C<span>haracter</span></li>
        <li routerLink="/base/shop">S<span>hop</span></li>
        <li id="fights">F<span>ights</span>
            <ul>
                <li routerLink="/base/fights-history">History</li>
                <li routerLink="/base/fights-search">Search</li>
                <li routerLink="/base/fights-upcoming">Upcoming</li>
            </ul>
        </li>
    </ul>
</div>