nav {
    position: fixed;
    left: 0px;
    top: 0px;
    bottom: 0px;
    
    background-color: rgba(var(--narr-color-d),0.5);
    
    font-size: 2em;
    font-family: 'Kanit', impact;
    font-weight: bold;
    letter-spacing: 1.3px;
    
    padding: 20px 10px 0px 0px;
    width: 60px;
    transition: 0.5s;
    transition-timing-function: ease;
    overflow-x: hidden;
}
nav:hover {
    width: 240px;
    background-color: rgba(var(--narr-color-d),0.7);
    border-right: solid 5px var(--narr-color);
    padding-right: 0px;
}
span {
    opacity: 0;
    transition: 1s;
    transition-timing-function: ease-out;
}
nav:hover > ul li span {
    opacity: 1;
}
ul li{
    padding: 5px 0px 5px 20px;
    transition: 0.5s;
    cursor: pointer;
}
nav:hover > ul li {
    background-color: rgba(var(--narr-color-t),0.3);
    padding-left: 35px;
}
nav:hover > ul li:hover {
    background-color: rgba(var(--narr-color-t),0.5);
    padding-left: 40px;
}
nav:hover > ul li:active {
    background-color: rgba(var(--narr-color-t),0.7);
}

ul li > ul li {
    opacity: 0;
    height: 0px;
    overflow: hidden;
    pointer-events: none;
    margin-left: -40px;
    padding: 0px 0px 0px 40px;
}
#fights:hover {
    padding-bottom: 0px;
}
nav:hover > ul li:hover > ul li{
    opacity: 1;
    height: 65px;
    pointer-events: all;
    background-color: none;
    padding: 5px 0px 5px 45px;
}
nav:hover > ul li:hover > ul li:hover{
    padding-left: 50px;
}

#account {
    margin-bottom: 20vh;
}