<div>You better do not mess with this superhuman killingmachine! Bred to dominate fights in close quaters, and also often favored for assassination-missions, she is one fighter that should not be taken lightly. As a clone she is naturaly touchy about being mistaken for others … espescially for one of her sisters … never try that fire.</div>
<div class="strength-weakness">
    <ul>Strengths:
        <li>Damage Resistance</li>
        <li>Critical-Hit-Chance</li>
        <li>Critical-Hit-Damage</li>
        <li>Recovery</li>
    </ul>
    <ul>Weaknesses:
        <li>Agility</li>
        <li>Critical-Hit-Chance</li>
        <li>Critical-Hit-Damage</li>
        <li>Recovery</li>
    </ul>
</div>
<button (click)="returnToOverview()">Back</button>
<button (click)="pinChoice()" routerLink="/dialog/{{clickedRace}}">A robot enters the city!</button>