<div id="background-fader"></div>
<div id="opening">
    <svg id="logo" viewBox="0 0 750 400">
        <symbol id="s-text">
            <text text-anchor="middle"
                  x="50%" y="25%" dy=".35em" font-weight="bold">
                Night
            </text>
        </symbol>
        <symbol id="x-text">
            <text text-anchor="middle"
                  x="50%" y="75%" dy=".35em">
                Fight
            </text>
        </symbol>  
        
        <use xlink:href="#s-text" class="text stroke-1"></use>
        <use xlink:href="#s-text" class="text stroke-2"></use>
        <use xlink:href="#s-text" class="text stroke-3"></use>
        <use xlink:href="#s-text" class="text stroke-4"></use>
        
        <use xlink:href="#x-text" class="text stroke-1"></use>
        <use xlink:href="#x-text" class="text stroke-2"></use>
        <use xlink:href="#x-text" class="text stroke-3"></use>
        <use xlink:href="#x-text" class="text stroke-4"></use>
    </svg>
<!--    <div id="opening-text">A hero<br>enters the city …</div>-->
</div>