*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
#bckgrnd-edge{
    top: 0px;
    position: fixed;
    pointer-events: none;
    width: 100vw;
    height: 100vh;
    box-shadow: 0px 0px 150px black inset;
    left: 0px;
}