<div id="container" class="{{setting}}">
    <h1>Selected</h1>
    <div id="warnPrice" *ngIf="warnPrice && setting=='shop'">You do not have sufficiant money!</div>
    <div id="warnPrice" *ngIf="warnPrice && setting=='yours'">The shop does not have sufficiant money!</div>
    <div id="grid-container">
        <div>
            <div *ngFor="let item of itemList">
                <equipment-item [setting]="setting" [item]="item" (click)="eject(item)"></equipment-item>
            </div>
        </div>
    </div>
    <div>
        <h3>
            <span *ngIf="setting=='yours'">Your Money: {{char.money}}</span>
            <span *ngIf="setting=='shop'">Shop's Money: {{char.money}}</span>
            <br>
            <br>
            <span>Price:  </span><b>{{price}}</b>
        </h3>
    </div>
    
    <button *ngIf="setting=='yours'" (click)="sellSelected()" [class.disabled]="(!price)" class="you-btn">Sell</button>
    <button *ngIf="setting=='shop'" (click)="buySelected()" [class.disabled]="(!price)" class="narr-btn">Buy</button>
</div>