#container {
    grid-template-rows: 100px 100px 1fr;
    grid-template-columns: 70% 1fr;
}
#inventory {
    grid-row: 1/4;
    display: grid;
    grid-template-columns: 60% auto;
    grid-gap: 20px;
}
#title {
    font-size: 1.5em;
}