#human, #robot, #monster{
    display: grid;
    background-image: linear-gradient(to right, black, transparent);
    transition: 2s;
    will-change: bottom;
    padding: 20px 10vh 0px 50px;
    height: 100%;
    text-align: left;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-color: inherit;
    line-height: 1.5em;
    align-content: start;
}
h2{
    margin-bottom: 30px;
}
#human:hover h1, #human h2, #human button:last-child, #human ul{
    color: var(--human-color);
}
#robot:hover h1, #robot h2, #robot button:last-child, #robot ul{
    color: var(--robot-color);
}
#monster:hover h1, #monster h2, #monster button:last-child, #monster ul{
    color: var(--monster-color);
}
button{
    margin-top: 20px;
}
#human button:last-child{
    background-color: rgba(var(--human-color-t),0.2);
}
#human button:last-child:hover{
    background-color: rgba(var(--human-color-t),0.4);
    box-shadow: 0px 0px 30px rgba(var(--human-color-t),0.6);
}
#human button:last-child:active{
    background-color: rgba(var(--human-color-t),0.5);
    box-shadow: 0px 0px 40px rgba(var(--human-color-t),0.8);
}
#robot button:last-child{
    background-color: rgba(var(--robot-color-t),0.2);
}
#robot button:last-child:hover{
    background-color: rgba(var(--robot-color-t),0.4);
    box-shadow: 0px 0px 30px rgba(var(--robot-color-t),0.6);
}
#robot button:last-child:active{
    background-color: rgba(var(--robot-color-t),0.5);
    box-shadow: 0px 0px 40px rgba(var(--robot-color-t),0.8);
}
#monster button:last-child{
    background-color: rgba(var(--monster-color-t),0.2);
}
#monster button:last-child:hover{
    background-color: rgba(var(--monster-color-t),0.4);
    box-shadow: 0px 0px 30px rgba(var(--monster-color-t),0.6);
}
#monster button:last-child:active{
    background-color: rgba(var(--monster-color-t),0.5);
    box-shadow: 0px 0px 40px rgba(var(--monster-color-t),0.8);
}
.char-descr-txt{
    max-height: 15vh;
    overflow: scroll;
}
.strength-weakness{
    margin: 20px 0px 40px 0px;
    text-align: center;
}
ul{
    font-size: 1.6em;
    text-align: right;
    display: inline-block;
    line-height: 1.2em;
    padding: 0px 10px 0px 10px;
    font-weight: bold;
    border-right: solid 2px white;
}
ul:last-of-type{
    text-align: left;
    border-right: none;
    border-left: solid 2px white;
}
#human,
#human ul,
#human button:last-child{
    border-color: var(--human-color);
}
#robot,
#robot ul,
#robot button:last-child{
    border-color: var(--robot-color);
}
#monster,
#monster ul,
#monster button:last-child{
    border-color: var(--monster-color);
}
li {
    font-size: 0.8em;
    font-weight: normal;
    color: white;
}
li:first-child{
    margin-top: 10px;
}
.disabled-btn{
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.5;
}