/* #background{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    z-index: -1;
    margin-top: -10vh;
} */

#container{
    position: relative;
    height: 80vh;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    
    background-color: rgba(var(--narr-color-d), 0.6);
    border: solid 2px var(--narr-color);
    padding: 0px 40px 0px 40px;
    text-align: center;
}
#input-container{
    display: grid;
/*    grid-template-rows: 60px auto auto auto auto auto;*/
    align-content: space-evenly;
    height: 50%;
    text-align: right;
    margin-right: 20%;
}
h1{
    color: var(--narr-color);
    margin-top: 40px;
    font-size: 2.5em;
}

button{
    margin-top: 10vh;
}
label{
    color: var(--narr-color);
}
span {
    color: var(--narr-color);
    font-weight: bold;
    opacity: 0.5;
}