<div id="background"></div>

<!-- <div id="container">
    <h1>Login</h1>
    
    <div id="input-container">
        <label>Email
            <input [(ngModel)]="credentials.username" type="email" placeholder="e.g.: example@example.com">
        </label>
        <label>Password
            <input [(ngModel)]="credentials.password" type="password" placeholder="password">
        </label>
    </div>
    
    <span *ngIf="!checkInput()">Please fill in all forms</span>
    <button *ngIf="checkInput()" type="submit" (click)="submit()" class="narr-btn">Submit</button>
</div> -->

<div id="container">
    <h1>Login</h1>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div id="input-container">

            <div class="form-group">
                <label>Username
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                </label>
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <span *ngIf="f.username.errors.required">Username is required</span>
                </div>
            </div>

            <div class="form-group">
                <label for="password">Password
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                </label>
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <span *ngIf="f.password.errors.required">Password is required</span>
                </div>
            </div>
            
            <div class="form-group">
                <button [disabled]="loading" class="narr-btn">Login</button>
                <img *ngIf="loading" class="pl-2" src="../../../assets/my-spinner3.gif" />
            </div>
            <span *ngIf="error" class="alert alert-danger">{{error}}</span>

        </div>

    </form>
</div>