<fieldset class="{{setting}}">
    <legend><h1 *ngIf="setting == 'yours'">Your Equipment</h1><h1 *ngIf="setting == 'shop'">Shop</h1></legend>
    <div>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
        <equipment-item [setting]="setting"></equipment-item>
    </div>
</fieldset>