fieldset {
    height: 100%;
    width: 100%;
    overflow: hidden;
    
    position: relative;
    padding: 20px 0px 20px 0px;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
#gear-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
    max-height: 96%;
    overflow: auto;
    padding-bottom: 20%; /*So it doesn't get cut of in chrome at the bottom*/
}
.shop legend {
    border-color: var(--narr-color);
    background-color: rgba(var(--narr-color-d),0.8);
}
.shop h2{
    color: var(--narr-color);
}
.shop {
    border: 3px solid var(--narr-color);
    box-shadow: 0px 0px 30px var(--narr-color) inset;
    background-color: rgba(var(--narr-color-d),0.7);
}
.yours {
    border: 3px solid var(--race-color);
    box-shadow: 0px 0px 30px var(--race-color) inset;
    background-color: rgba(var(--race-color-d),0.7);    
}
