<fieldset>
    <legend><h1>Gear Up!</h1></legend>
    <div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
        <div>
            <div class="pop-up">
                <span>
                    <h2>Name</h2>
                    <ul>
                        <li>Attribute-X</li>
                        <li>Attribute-Y</li>
                    </ul>
                </span>
            </div>
        </div>
    </div>
</fieldset>