<fieldset id="container">
    <legend id="legend-equipped"><h2>Equipped</h2></legend>
    <div>
        
        <fieldset class="itemGroup" [class.grid-gap]="char.equippedItems.weaponSecondary || (char.equippedItems.weaponPrimary && !char.equippedItems.weaponPrimary.twohanded)">
            <legend><h3>Weapons</h3></legend>
            <div>
                <equipment-item *ngIf="char.equippedItems.weaponPrimary" [item]="char.equippedItems.weaponPrimary" (click)="characterService.unequip('weaponPrimary')" [forceSelected]="true" [setting]="'yours'"></equipment-item>
                <div class="slot" *ngIf="!char.equippedItems.weaponPrimary">empty<br>Slot</div>
            </div>
            <div>
                <equipment-item *ngIf="char.equippedItems.weaponSecondary" [item]="char.equippedItems.weaponSecondary" (click)="characterService.unequip('weaponSecondary')" [forceSelected]="true" [setting]="'yours'"></equipment-item>
                <div class="slot" *ngIf="!char.equippedItems.weaponSecondary && (!char.equippedItems.weaponPrimary || !char.equippedItems.weaponPrimary.twohanded)">empty<br>Slot</div>
            </div>
        </fieldset>
        
        <fieldset class="itemGroup">
            <legend><h3>Armor</h3></legend>
                <equipment-item *ngIf="char.equippedItems.armor" [item]="char.equippedItems.armor" (click)="characterService.unequip('armor')" [forceSelected]="true" [setting]="'yours'"></equipment-item>
                <div class="slot"  *ngIf="!char.equippedItems.armor">empty<br>Slot</div>
        </fieldset>
        
        <fieldset class="itemGroup">
            <legend><h3>Special</h3></legend>
                <equipment-item *ngIf="special" [item]="char.equippedItems.special" (click)="characterService.unequip('special')" [forceSelected]="true" [setting]="'yours'"></equipment-item>
                <div class="slot" *ngIf="!char.equippedItems.special">empty<br>Slot</div>
        </fieldset>
    </div>
    <div *ngIf="shouldWarn" id="warning">{{warning}}</div>
</fieldset>
 