fieldset {
    height: 100%;
    width: 100%;
    overflow: scroll;
    position: relative;
    padding: 20px 0px 20px 0px;
    
    border: 3px solid var(--race-color);
    box-shadow: 0px 0px 30px var(--race-color) inset;
    background-color: rgba(var(--race-color-d),0.5);
}
legend {
    margin: 0px auto -20px auto;
    padding: 0px 10px 0px 10px;
}
fieldset > div {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 20px;
    justify-content: space-evenly;
    position: absolute;
    width: 100%;
}
fieldset > div > div {
    height: 10vw;
    width: 10vw;
    background-color: var(--race-color);
    margin-bottom: 20px;
}