<fieldset id="container">
    <legend id="legend-equipped"><h2>Equipped</h2></legend>
    <div>
        
        <fieldset class="itemGroup" [class.grid-gap]="char.equippedGear.weaponSecondary || (char.equippedGear.weaponPrimary && !char.equippedGear.weaponPrimary.twoHanded)">
            <legend><h3>Weapons</h3></legend>
            <div>
                <equipment-item *ngIf="char.equippedGear.weaponPrimary" [item]="char.equippedGear.weaponPrimary" (click)="characterService.unequip('weaponPrimary')" [forceSelected]="true" [setting]="'yours'"></equipment-item>
                <div class="slot" *ngIf="!char.equippedGear.weaponPrimary">empty<br>Slot</div>
            </div>
            <div>
                <equipment-item *ngIf="char.equippedGear.weaponSecondary" [item]="char.equippedGear.weaponSecondary" (click)="characterService.unequip('weaponSecondary')" [forceSelected]="true" [setting]="'yours'"></equipment-item>
                <div class="slot" *ngIf="!char.equippedGear.weaponSecondary && (!char.equippedGear.weaponPrimary || !char.equippedGear.weaponPrimary.twoHanded)">empty<br>Slot</div>
            </div>
        </fieldset>
        
        <fieldset class="itemGroup">
            <legend><h3>Armor</h3></legend>
                <equipment-item *ngIf="char.equippedGear.armor" [item]="char.equippedGear.armor" (click)="characterService.unequip('armor')" [forceSelected]="true" [setting]="'yours'"></equipment-item>
                <div class="slot"  *ngIf="!char.equippedGear.armor">empty<br>Slot</div>
        </fieldset>
        
        <fieldset class="itemGroup">
            <legend><h3>Special</h3></legend>
                <equipment-item *ngIf="char.equippedGear.special" [item]="char.equippedGear.special" (click)="characterService.unequip('special')" [forceSelected]="true" [setting]="'yours'"></equipment-item>
                <div class="slot" *ngIf="!char.equippedGear.special">empty<br>Slot</div>
        </fieldset>
    </div>
    <div *ngIf="shouldWarn" id="warning">{{warning}}</div>
</fieldset>
 