#container {
    grid-template-rows: 100px auto auto;
    grid-template-columns: 30% auto auto;
}
#container div {
    background-color: rgba(var(--race-color-d),0.5);
}
#overview {
    grid-row: 1/span 3;
}
#title {
    grid-column: 2/span 2;
    text-align: center;
    font-size: 2em;
}