#container {
    grid-template-columns: auto auto 30%;
}
#container div {
    background-color: rgba(var(--race-color-d),0.5);
}
#overview {
    grid-column: 3/span 1;
}
#your-equipment {
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: auto auto;
    grid-gap: 20px;
}
gear-list-basic {
    grid-row: 1 / span 2;
}