@import url('https://fonts.googleapis.com/css?family=Kanit:900');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: white;
    transition: none;
}
*::selection{
    background-color: var(--narr-color);
    color: rgb(var(--narr-color-d));
    text-shadow: none;
}
:root{
    --human-color: rgb(110,255,90);
    --robot-color: rgb(110,190,255);
    --monster-color: rgb(255,100,100);
    --narr-color: rgb(200, 255, 200);
    
    --human-color-d: 0,80,70;
    --robot-color-d: 60,40,80;
    --monster-color-d: 80,50,50;
    --narr-color-d: 100, 0, 20;
    
    --human-color-t: 110,255,90;
    --robot-color-t: 120,200,255;
    --monster-color-t: 255,120,100;
    --narr-color-t: 200, 255, 200;
    
    --race-color: white;
    --race-color-t: 0,0,0;
    --race-color-d: 127.5,127.5,127.5;
}
body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    background-image: url(./images/city22.jpg);

    background-color: rgba(var(--race-color-d),0.75);
    background-blend-mode: overlay;
    transition: background-position 20s;
    
    overflow-x: hidden;
    overflow-y: scroll;
    
    font-family: sans-serif;
}
.background-base {
    background-image: url(./images/city22.jpg);
}
.background-char-details {
    background-image: url(./images/engineer2.jpg);
}
.background-city {
    background-image: url(./images/city.jpg);
}
.background-shop {
    background-image: url(./images/streets.jpg);
}
.background-base,
.background-char-details,
.background-city,
.background-shop {
    transition: background-position 0s;
    background-position: bottom;
}
h1{
    font-family: 'Kanit', impact;
    margin-bottom: 20px;
    letter-spacing: 1.5px;
    color: var(--race-color);

    text-shadow: 0px 0px 30px black,
                0px 0px 50px black;
}
h2{
    font-family: 'Kanit', impact;
    font-size: 1.8em;
    color: var(--race-color);
}
button{
    transition: 0.2s;
    font-size: 1em;
    border: 2.5px solid white;
    margin: 5px;
    padding: 5px 10px 5px 10px;
    color: white;
    cursor: pointer;
    background-color: rgba(255,255,255,0.5);
    font-size: 1.2em;
    font-weight: bold;
}
button:hover{
    border-radius: 4px;
    background-color: rgba(255,255,255,0.6);
    
}
button:active{
    border-radius: 8px;
    background-color: rgba(255,255,255,0.8);
}
.you-btn {
    color: var(--race-color);
    background-color: rgba(var(--race-color-t),0.3);
    border-color: var(--race-color);
    font-weight: bold;
}
.you-btn:hover{
    color: rgba(var(--race-color-d),1);
    background-color: rgba(var(--race-color-t),0.8);
    box-shadow: 0px 0px 40px rgba(var(--race-color-t),0.6);
}
.you-btn:active{
    background-color: rgba(var(--race-color-t),0.9);
    box-shadow: 0px 0px 40px rgba(var(--race-color-t),0.8);
}
.narr-btn{
    color: var(--narr-color);
    background-color: rgba(var(--narr-color-t),0.2);
    border-color: var(--narr-color);
}
.narr-btn:hover{
    color: rgba(var(--narr-color-d),1);
    background-color: rgba(var(--narr-color-t),0.7);
    box-shadow: 0px 0px 40px rgba(var(--narr-color-t),0.6);
}
.narr-btn:active{
    background-color: rgba(var(--narr-color-t),0.9);
    box-shadow: 0px 0px 40px rgba(var(--narr-color-t),0.8);
}
.page-title {
    margin: 0px 0px 0px 12vw;
    padding: 1vh 0px 1vh 0px;
    font-size: 2.8em;
}
.page {
    display: grid;
    height: 86vh;
    width: 86vw;
    margin-left: 10vw;
    grid-gap: 20px;
}

label{
    font-size: 1.3em;
}
input{
    font-size: 1em;
    background-color: rgb(50,50,50);
    color: white;
    text-align: center;
    padding: 5px;
    border: none;
    transition: 0.5s;
}
input:focus{
    background-color: rgb(60,60,60);
}
legend {
    margin: 0px auto -10px auto;
    padding: 0px 10px 0px 10px;
    border: solid 3px var(--race-color);
    background-color: rgba(var(--race-color-d),0.8);
}
legend h1 {
    text-shadow: none;
    margin-bottom: 0px;
}