@import url('https://fonts.googleapis.com/css?family=Kanit:900');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url(../images/akira_city_bw.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;
    transition: 20s;
    overflow-x: hidden;
    overflow-y: scroll;
}
#opening{
    margin: 0px;
    height: 100vh;
    font: 12em 'Kanit', Impact;
    text-transform: uppercase;
    z-index: 100;
}
#opening-text{
    position: fixed;
    display: none;
    opacity: 0;
    color: white;
    text-align: center;
    top: 25vh;
    left: 20%;
    font-size: 0.5em;
    animation: quickStoryTxt 4s 1 linear;
    text-shadow: 0px 0px 80px rgba(0,0,0,0.8);
}
#background-fader{
    animation: fadeout 14s 1 linear;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: block;          /*Nur Zum Testen!!!*/
}
svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

.text {
    fill: rgb(150,0,0);
    stroke-linejoin: round;
    animation: stroke 8s 1 cubic-bezier(.56, .09, .71, .85) 1s;
    stroke-linecap: round;
    opacity: 0;
}
.stroke-1 {
    stroke: white;
}
.stroke-2 {
    stroke: #ff9f30;
    stroke-dashoffset: 20;
    stroke-width: 2;
}
.stroke-3 {
    stroke: rgb(229, 70, 0);
    stroke-dashoffset: 50;
    stroke-width: 3;
}
.stroke-4 {
    stroke: #be0000;
    stroke-dashoffset: 100;
    stroke-width: 4;
}