<div id="background"></div>
<!--
 <div id="container">
    <h1>Register</h1>
    
    <div id="input-container">
        <label>Name
            <input [(ngModel)]="newUser.name" placeholder="e.g.: Whatever">
        </label>
        <label>Email
            <input [(ngModel)]="newUser.eMail" type="email" placeholder="e.g.: example@example.com">
        </label>
        <label>Password
            <input [(ngModel)]="password" type="password" placeholder="password">
        </label>
        <label>Confirm
            <input [(ngModel)]="passwordConf" type="password" placeholder="confirm password">
        </label>
    </div>
    
    <span *ngIf="!checkInput()">Please fill in all forms, and repeat your Password correctly</span>
    <button *ngIf="checkInput()" type="submit" (click)="submit()" class="narr-btn">Submit</button>
</div>
-->

<div id="container">
    <h1>Register</h1>
    
    <form [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
        <div id="input-container">
        <label for="username">Username
            <input class="form-control" type="text" name="username" formControlName="username"/>
        </label>
        <span *ngIf="registrationFormGroup.controls['username'].hasError('minlength') && registrationFormGroup.get('username').touched">minimum characters = 3</span>
        <p *ngIf="registrationFormGroup.controls.username.errors?.required && registrationFormGroup.controls.username.touched">Username is required</p>
        
        
        <label for="fullname">Full Name
            <input class="form-control" type="text" name="fullname" formControlName="fullname"/>
        </label>
        <span *ngIf="registrationFormGroup.controls['fullname'].hasError('minlength') && registrationFormGroup.get('fullname').touched">minimum characters = 3</span>                     
        <p *ngIf="registrationFormGroup.controls.fullname.errors?.required && registrationFormGroup.controls.fullname.touched">Fullname is required</p>
        
        
        <label for="email">email
            <input class="form-control" type="email" name="email" formControlName="email"/>
        </label>
        <span *ngIf="(email.dirty || email.touched) && email.invalid">Invalid email format</span>
        
        <div [formGroup]="passwordFormGroup">
            <label for="password">Password
                <input class="form-control" type="password" name="password" formControlName="password">
            </label>
            <p *ngIf="passwordFormGroup.controls.password.errors?.required && passwordFormGroup.controls.password.touched">Password is required</p>
            
            <label for="repeatPassword">Confirm Password
                <input class="form-control" type="password" name="repeatPassword" formControlName="repeatPassword">
            </label>
            <br>
            <span *ngIf="passwordFormGroup.controls['password'].hasError('minlength') && passwordFormGroup.get('password').touched">Minimum Password Length = 6</span>                        
            <p *ngIf="passwordFormGroup.controls.repeatPassword.errors?.required && passwordFormGroup.controls.repeatPassword.touched">Repeat password is required</p>
            <p *ngIf="passwordFormGroup.errors?.doesMatchPassword">Password does not match</p>                  
        </div>
        
        <span *ngIf="!submitted && (passwordFormGroup.untouched || registrationFormGroup.untouched) ">Please fill in all forms</span>
        
        <button class="narr-btn" type="submit" [disabled]="!registrationFormGroup.valid">Submit</button>
        <img *ngIf="loading" src="../../../assets/my-spinner3.gif" />
        
        <span *ngIf="error">{{error}}</span>
    </div>
    </form>
</div>
