<div id="background"></div>

<div id="container">
    <h1>Register</h1>
    
    <div id="input-container">
        <label>Name
            <input [(ngModel)]="newAccount.name" placeholder="e.g.: Whatever">
        </label>
        <label>Email
            <input [(ngModel)]="newAccount.eMail" type="email" placeholder="e.g.: example@example.com">
        </label>
        <label>Password
            <input [(ngModel)]="password" type="password" placeholder="password">
        </label>
        <label>Confirm
            <input [(ngModel)]="passwordConf" type="password" placeholder="confirm password">
        </label>
    </div>
    
    <span *ngIf="!checkInput()">Please fill in all forms, and repeat your Password correctly</span>
    <button *ngIf="checkInput()" type="submit" (click)="submit()" class="narr-btn">Submit</button>
</div>