#char-picker{
    height: 90vh;
    width: 70vw;
    margin-top: 5vh;
    padding: 20px 0px 20px 0px;
    background-color: rgba(0, 0, 0,0.8);
    animation: appear 1s 1 ease-out;
    text-align: center;
    transition: 1s;
    opacity: 1;
    overflow: hidden;
    color: white;
}
.char-choice{
    background-color: black;
    height: 94%;
    width: 31%;
    margin: 0px 5px 0px 5px;
    display: inline-grid;
    transition: 0.6s;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    will-change: filter;
    filter: brightness(50%);
}
.race-titel{
    text-shadow: 0px 0px 30px black,
                0px 0px 20px black,    
                0px 0px 10px black;    
}
.char-choice:hover{
    filter: none;
}
.char-focus{
    filter: none;
    float: left;
    margin: 0px;
    height: 100%;
    cursor: auto;
    transition: none;
}
h1{
    margin-bottom: 20px;
    pointer-events: none;
}
#human{
    background-image: url(../../../images/vengeance_mc.jpg);
}
#human:hover h1, #human.char-focus{
    color: var(--human-color);
}
#robot{
    background-image: url(../../../images/long_ouyang_02.jpg);
}
#robot:hover h1, #robot.char-focus{
    color: var(--robot-color);
}
#monster{
    background-image: url(../../../images/monster_art2_by_ang_angg-d84jjva.jpg);
}
#monster:hover h1, #monster.char-focus{
    color: var(--monster-color);
}
#char-pick-narrator{
    margin-top: -20px;
    color: var(--narr-color);
}